Django
uvicorn[standard]
python-decouple
pymemcache

Pillow
sqids
markdown-it-py
bleach

django-qr-code
django-widget-tweaks
django-ratelimit
django-ipware
django-allauth[socialaccount]
django-extensions
django-anymail[postmark]

